.idea/
.venv/
model_checkpoint/
model_results/
data/indoor_outdoor_images/
data/indoor_outdoor_raw/images
indoor_outdoor/dist/
indoor_outdoor/Distutils*
model_checkpoint_del/
model_results_del/
__pycache__/
references/model_results.zip
